body {
    background: #f0f0f0;
}
      /*top*/
.tops{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 24px;
}
.top{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    display: flex;
}

.sgn-btn{
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-size: 18px;
    padding: 15px 30px;
    font-weight: 900;
}

    /*top-second*/
.top-second{
    width: 1280px;
    height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    padding: 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: auto;
}
.p-style{
    color: rgba(14, 14, 14, 0.5);
}
.top-1{
    color: rgb(14, 14, 14);
    font-weight: 700;
    font-size: 56px;
}
.top-1-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    margin: 24px 0px;
    padding: 17px 34px;
    color: aliceblue;
}

/*section-1-main*/

section {
    margin-bottom: 80px;
}

.main-head{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

main{
    margin: auto;
    padding: 80px 100px;
    gap: 64;
    width: 1480px;
    height: 560px;
}
.main-1{
    display: flex;
    gap: 32;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.div-1{
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 28px;
}
.div-2{
    border-radius: 16px;
    background: rgb(198, 228, 214);
    margin: 0px 24px;
    padding: 28px;
}
.div-3{
    border-radius: 16px;
    background: rgb(247, 235, 207);
    margin: 0px 24px;
    padding: 28px;
}
.btn-1{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    margin: 24px 0px;
    padding: 17px 34px;
    color: aliceblue;
    font-size: large;
}
.btn-2{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    margin: 24px 0px;
    padding: 17px 34px;
    color: aliceblue;
    font-size: large;
}
.btn-3{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    margin: 24px 0px;
    padding: 17px 34px;
    color: aliceblue;
    font-size: large;
}

.hero-container {
    display: grid;
    gap: 24px;
}


.hero {
    display: flex;
    align-items: center;
    padding: 48px;
    gap: 32px;
    background-color: white;
    border-radius: 16px;
}

.hero:nth-child(even) {
    flex-direction: row-reverse;
}

.hero > img {
    border-radius: 16px;
}
.hero .date-time {
    display: flex;
    gap: 16px;
    align-items: center;
}